html {
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

* { padding:0; margin:0}
.background {
    width: 100%;
    height: 100%;
    background-position: top center;
    position: relative;
}
.about-me {
    position: relative;
}
.contrast {
    -webkit-filter: contrast(220%);
    filter: contrast(220%);
    background-size: cover;
}
#titlePage {
    background-size: cover;
    background: url("../images/background/background1.png") fixed no-repeat;
    position: absolute;
    z-index: -2;
}
.title {
    position: relative;
    font-family: "Quicksand", sans-serif;
    display: inline-block;
    margin-left: 20px;
}
.main {
    position: fixed;
    z-index: -2;
}
.banner {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    margin-left: -20px;
    padding: 0;
}
#name {
    display: block;
    font-weight: 500;
    font-size: 8.8vw;
    color: white;
    margin-top: -5px;
    text-shadow: 2px 2px 20px #514a4a;
}
#job {
    font-size: 2.7vw;
    line-height: 3.4vw;
    color: #cb1a2a; /* #b40018 */
    text-align: right;
    margin-top: -2.4vw;
    text-shadow: 0.1px 0.1px 10px #a7a2a2;
}
#contact-group {
    bottom: 5px;
    right: 50%;
    margin-right: -70px;
}
.contact {
    position: relative;
    opacity: 0.9;
    display: inline-block;
    font-size: 35px;
    padding: 7px 10px 5px 7px;
}
a.contact, a.contact:visited, a.contact:active {
    color: #080808;
}
a.contact:hover, a.contact:focus {
    color: #cb1a2a;
}
.top-bar, .top-bar ul {
    background-color: #262626;
    margin-top: 0;
    width: 100%;
    padding: 0.3em;
}
top-bar sticky is-at-top is-stuck {
    margin-top: 0;
}
a.light, a.light:visited, a.light:active {
    color: white;
}
a.light:hover, a.light:focus {
    color: #cb1a2a;
}
.nav {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px;
}
.nav-title {
    font-family: "Quicksand", sans-serif;
    font-size: 20;
    display: inline-block;
    width: 140px;
    text-align: center;
}
.nextPage {
    background-color: white;
    height: auto;
}
.about-text {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 16;
    text-align: justify;
}
#h1 {
    color: #cb1a2a;
}
#h2 {
    color: #080808;
    
}
.about-pics {
    top: 0px;
    right: 0px;
    width: 60%;
    height: 100%;
    float: right;
    background-size: cover;
    background-image: url("../images/background/background.jpg");
}
.page-break {
    float: right;
    height: 350px;
}
.self-img {
    right: 290px;
    top: 180px;
    position: absolute;
    height: 250px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.76);
}
#self1 {
    right: 290px;
    top: 180px;
    height: 250px;
}
#self2 {
    right: 575px;
    top: 250px;
    height: 200px;
}
#self3 {
    right: 450px;
    top: 440px;
    height: 180px;
}
.top-border {
    background-color: #262626;
    margin: 0;
    border: 0;
    padding: 3px;
}
.page-title {
    background-color: white;
    width: 50%;
    margin-bottom: 0;
}
.underline {
    background-color: #cb1a2a;
    padding: 2px;
}
.sub-banner {
    padding: 0 0 0 200px;
    margin-left: -20px;
    background-color: rgba(203, 26, 42, 0.8);
    border: 0;
}
#about-me {
    padding-right: 15px;
    font-size: 40;
    font-weight: 500;
    color: white;
    line-height: 50px;
    text-align: right;
}
.skills {
    position: absolute;
    right: 60px;
    top: 350px;
}
.languages {
    font-size: 30;
    font-weight: 600;
    margin: 0;
    padding-bottom: 3px;
    width: 210px;
}
.skills-bar {
    display: inline-block;
    width: 100px;
    margin: 8px 0 0 0;
    float: right;
    height: 10px;
}
.skills-name {
    display: inline-block;
    font-size: 16;
    font-weight: 500;
    margin: 0;
}
.skills-subname {
    font-size: 12;
    display: block;
    margin: 0;
}
.skills-meter {
    background-color: #cb1a2a;
}
.red-font {
    color: #cb1a2a;
    margin: 0;
}
.about-paragraph {
    width: 40%;
    padding-top: 55px;
    padding-left: 15px;
    padding-bottom: 80px;
    border-right-color: rgba(228, 24, 24, 0.19);
    border-right-style: solid;
    padding-right: 20px;
    border-right-width: 5;
}
.portfolio {
    position: relative;
}
.project-scroll {
    width: 20%;
    height: 100%;
    border-top: 10px solid rgb(250, 212, 212);
    display: inline-block;
    float: right;
}
.project-desc {
    width: 80%;
    height: 100%;
    background-color:aqua;
    display: inline-block;
    padding: 100px;
    border-top: 10px solid rgb(250, 212, 212);
}
.project-img {
    
}